<br>
<div class="jumbotron", align="center">
  <h1>Blocipedia: Social, Markdown Wikis</h1>
  <p>
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-6", align="center">
    <h2>Create as many public 
      <p>wikis as you want!</p></h2>
  </div> 
  <div class="col-md-6", align="center">
    <h2>Create private wikis!</h2>
  </div>
</div>
