// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {
  
  width: 150px;
  border: 100px; 
  margin: 10px;
  padding: 20px;

}