<%= form_tag charges_path do %>
  <h4>Click the button!</h4>

  <script class="stripe-button"
    src="https://checkout.stripe.com/checkout.js"
    data-key=<%= @stripe_btn_data[:key]%>
    data-name="Blocipedia"
    data-description="Premium"
    data-amount="1500">

  </script>

  
  <script type="text/javascript">
  // $(document).ready(function(){
  //     $(':submit').on('click', function(e){
  //       e.preventDefault();

  //       var $button = $(this),
  //       $form = $button.parents('form');

  //       var opts = $.extend({}, $button.data(), {
  //         token: function(res){
  //           $form.append($('<button>').attr({type: 'hidden', name: 'stripeToken', value: res.id})).submit();
  //         }
  //       });
  //       StripeCheckout.open(opts);
  //     });
  // });
  </script>

<% end %>

