<%= form_tag charges_path do %>
  <h4>Click the button!</h4>

  <button class="btn btn-link"
          data-key=<%= @stripe_btn_data[:key]%>
          data-amount=<%= @stripe_btn_data[:amount]%>
          data-description=<%= @stripe_btn_data[:description]%>
          >PAY! </button>
          <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
      $(':submit').on('click', function(e){
        e.preventDefault();

        var $button = $(this),
        $form = $button.parents('form');

        var opts = $.extend({}, $button.data(), {
          token: function(res){
            $form.append($('<button>').attr({type: 'hidden', name: 'stripeToken', value: res.id})).submit();
          }
        });
        StripeCheckout.open(opts);
      });
  });
  </script>

<% end %>

